/*
 * General styles.
 */

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  height: 100%;
  line-height: initial;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/*
 * Helpers.
 */

.col-span-1 {
  width: 25%;
}

.col-span-2 {
  width: 50%;
}

.col-span-3 {
  width: 75%;
}

.col-span-4 {
  width: 100%;
}

.flex {
  -ms-flex-line-pack: center;
       align-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/*
 * Specific styles.
 */

.controls {
  background-color: #2d2d30;
  -webkit-box-shadow: 0 0 1.5rem #000;
          box-shadow: 0 0 1.5rem #000;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in;
          transition: -webkit-transform 0.5s ease-in;
          transition: transform 0.5s ease-in;
          transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  width: 100%;
}

@media (min-width: 31.25em) {
  .controls {
    left: initial;
    right: 2rem;
    width: 30rem;
  }
}

.control {
  border-bottom: solid 0.1rem #4a4a4c;
  border-left: solid 0.3rem #007acc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  width: 100%;
}

.control:last-child {
  border: none;
}

.label {
  margin: 0 0.5rem;
}

.input {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  border-style: solid;
  color: inherit;
  height: 100%;
  width: 100%;
}

.colour {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.checkbox {
  height: auto;
  margin: 0 auto;
  width: auto;
}

.btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0 auto;  
}